# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# ignore folder
Release
Debug
Backup
ipch

# ignore File
KnockKnock_v0.92.zip
knockknock.cfg
*.suo
*.sdf
